*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'IM Fell Great Primer SC', serif;
	}

/*Header Section Starts*/

.container{
	width: 1140px;
	margin: 0 auto;
	height: 275px;

}

header{
	background-color: #87509c;
	padding: 25px 0px;
	background-size: cover;
}

.logo{
	width: 40%;
	float: left;
}

.log img{

}

.menu{
width: 60%;
float: left;
}

nav ul{
list-style: none;
}

nav ul li{
display: inline-block;
margin: 0px 40px;
}

nav ul li a{
color: #fff;
text-decoration: none;
}

.header-banner{
width: 600px;
margin: 0 auto;
padding: 50px 0px 126px;
}

.header-banner h2{
text-align: center;
color: #fff;
line-height: 33px;
font-size: 25px;
}

.btn{
margin: 10% auto;	
display: block;
background: #eb7d4b;
padding: 13px 33px;	
font-size: 18px;	
color: #fff;	
border: none;	
box-shadow: 0px 4px 0px #eb7d4bbd;	
text-transform: uppercase;
}

/*Header Section Ends*/


/*Service Section Starts*/

.service {
width: 100%;
float: left;
padding: 19px 0px;
background-color: #17c2a4;
}

.tittle {
width: 655px;
margin: 0 auto;
text-align: center;
}

.tittle h2{	
margin: 12px 0px;
}

.tittle span{	
display: block;	
border-bottom: 2px solid #161616;	
width: 10%;	
margin: 10px auto;
}

.tittle p{

}
.service-section {
	width: 22%;
	float: left;
	margin: 30px 15px;
	text-align: center;
	color: #fff;
}

.service-section img{

}

.service-section h2{
	margin: 5px 0px;
}

.service-section p{
	
}

/*Service Section Ends*/



/*Team Section Starts*/

.team {
width: 100%;
float: left;
padding: 19px 0px;
background-color: silver;
}

.tittle {
width: 655px;
margin: 0 auto;
text-align: center;
}

.tittle h2{	
margin: 12px 0px;
}

.tittle span{	
display: block;	
border-bottom: 2px solid #161616;	
width: 10%;	
margin: 10px auto;
}

.tittle p{

}
.team-section {
	width: 22%;
	float: left;
	margin: 30px 15px;
	text-align: center;
	color: #141313;
}

.team-section img{
	width: 75%;
}

.team-section h2{
	margin: 5px 0px;
}

.team-section h4{
	margin: 5px 0px;
	color:  #a20ecb;
}

.service-section p{
	
}

.social{

}

.social ul{
list-style: none;
}

.social ul li{
display: block;
float: left;
margin: 18px;
color: #e5eee5;
background-color: #ff0083;
font-size: 19px;
padding: 4px;
border-radius: 19px;
}


/*Team Section Ends*/



/*Circle Section Starts*/

.circle {
width: 100%;
float: left;
padding: 90px 0px;
background-color: #fff;
}

.tittle {
width: 655px;
margin: 0 auto;
text-align: center;
}

.tittle h2{	
margin: 12px 0px;
}

.tittle span{	
display: block;	
border-bottom: 2px solid #161616;	
width: 10%;	
margin: 10px auto;
}

.tittle p{

}
.circle-section {
	width: 22%;
	float: left;
	margin: 30px 15px;
	text-align: center;
	color: #141313;
}

.circle-section img{
	width: 75%;
}

.circle-section h2{
	margin: 5px 0px;
}

.circle-section h4{
margin: -159px 0px;
color: #a20ecb;
font-size: 27px;
}

.circle-section p{
	
}

/*Circle Section Ends*/



/*Computer Section Starts*/

.computer {
width: 100%;
float: left;
padding: 19px 0px;
background-color: #f4b214eb;
height: 832px;
margin: 62px auto;
}

.tittle {
width: 655px;
margin: 0 auto;
text-align: center;
}

.tittle h2{	
margin: 12px 0px;
}

.tittle span{	
display: block;	
border-bottom: 2px solid #161616;	
width: 10%;	
margin: 10px auto;
}

.tittle p{

}

.pcbar {

    width: 60%;
    float: left;
    margin: 11px 280px;
    padding: 22px;

}

nav ul{
list-style: none;
}

nav ul li {

    display: inline-block;
    margin: 0px 40px;
    background-color: #7670704a;

}

nav ul li a{
color: #fff;
text-decoration: none;
}

.computer-section {

    width: 50%;
    float: left;
    margin: 0 auto;
    text-align: center;
    color: #141313;

}

.computer-section img{
	width: 75%;
}

.computer-section h2{
	margin: 5px 0px;
}


.computer-banner{
width: 600px;
margin: 0 auto;
padding: 50px 0px 126px;
}


.computer-banner.btn{
margin: 10% auto;	
display: block;
background: #eb7d4b;
padding: 13px 33px;	
font-size: 18px;	
color: #fff;	
border: none;	
box-shadow: 0px 4px 0px #eb7d4bbd;	
text-transform: uppercase;
}

/*Computer Section Ends*/



/*About Section Starts*/

.about {

    width: 100%;
    float: left;
    padding: 90px 0px;
    background-color: #D74680;
	margin: -62px auto;
	color: white;
}

.tittle {
width: 655px;
margin: 0 auto;
text-align: center;
}

.tittle h2{	
margin: 12px 0px;
}

.tittle span{	
display: block;	
border-bottom: 2px solid #161616;	
width: 10%;	
margin: 10px auto;
}

.tittle p{
margin: 12px 0px;
}

.about-section {

    width: 50%;
    float: left;
    margin: 0 auto;
    text-align: center;
    color: #141313;

}

.about-section img{
	width: 25%;
	display: block;
	float: left;
}

.about-section h2{
    color: white;
    text-align: left;

}

.about-section h5{
    color: #f2d80b;
    text-align: left;


}

.about-section p {

    color: white;
    text-align: left;

}


/*About Section Ends*/


/*Touch Section Starts*/

.touch {

    width: 100%;
    float: left;
    padding: 28px 0px;
    background-color: #0d2e93;
	margin: 62px auto;
	color: white;
	height: 500px;
}

.tittle {
width: 655px;
margin: 0 auto;
text-align: center;
}

.tittle h2{	
margin: 12px 0px;
}

.tittle span{	
display: block;	
border-bottom: 2px solid #161616;	
width: 10%;	
margin: 10px auto;
}

.tittle p{
margin: 12px 0px;
}

.touch-section {

    width: 50%;
    float: left;
    margin: 0 auto;
    text-align: center;
    color: #141313;

}

.contact-form{
width: 600px;
margin: 0 auto;
padding: 50px;
}

.form-control{
width: 46%;
height:	30px;
float: left;
margin: 0px 5px;
padding: 5px;
background-color: #0f0e0e3d;
border: none;
color: #fff;
}

.text-area {

    width: 96%;
    padding: 4px;
    height: 90px;
    float: left;
    display: block;
    margin: 11px 5px;
    background-color: #0f0e0e3d;
	border: none;
	color: #fff;

}


.btn2 {

    margin: 51px 183px;
    background: #4be3eb;
	padding: 11px 33px;
	font-size: 18px;
	color: #fff;
	border: none;
	box-shadow: 0px 4px 0px #eb7d4bbd;
	text-transform: uppercase;

}


/*Touch Section Ends*/



/*Footer Section Starts*/

.footer{

}


.footer-menu {
	width: 100%;
    float: left;
    background-color: #108206;
    margin: -62px auto;
}

.footer-menu nav ul{
list-style: none;
}

.footer-menu nav ul li {

    display: inline-block;
    margin: 52px 58px;
    font-size: 24px;
    border: none;

}

.footer-menu nav ul li a{
color: #fff;
text-decoration: none;
}

/*Footer Section Ends*/